body{
    background-color: #B9E0FF;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    position: fixed;
    font-family: 'Ubuntu', sans-serif;
    background-color:rgb(69, 60, 103,0.97) ;
    z-index: 1;
    
}

#NavBar{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{

    background-color: #86E5FF;
    color: white;
    font-family: 'Varela Round', sans-serif;
    /* width:80%; */
    margin: 90px 2% 140px;
    border-radius: 12px;
    padding: 34px 2%;
    background-image: url('bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading{
    font-family: 'Varela Round', sans-serif;
    width: 100%;
    padding-left: 5%;
    margin-bottom: 25px;
    font-weight: bold;
}

.songItem{
    /* width: 70%; */
    padding: 5px;
    display: flex;
    align-items:center;
    justify-content:space-between;
    background-color: rgb(157, 241, 223,0.3);
    color: white;
    margin: 10px auto;
    border-radius: 34px; 
}


.songImage{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 3px;
}


.songlistplay{
    position:sticky;
    right: 0;
   display: flex;
   align-items: center;
   padding-left: 3px;

}


.songItemPlay{
    margin: 5px;
    color: #09f130;
    cursor: pointer;
}

.bottom{
    overflow: hidden;
    position: fixed;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;

    background-image:linear-gradient(to right,rgb(129, 12, 168,0.9),rgb(141, 158, 255,0.9));
    bottom: 0;
    color: white; 

}


.icons{
    position: static;
    display: flex;
    width: 80%;
    height: 35px;
    font-size: 0.7rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.icons:hover{
   opacity: 1;
}

.icons i{
    position:relative;
    padding: 0 40px;
    cursor: pointer;    
    opacity: 0.97;
}

.icons i:hover{
    font-size: 3rem;
    opacity: 1;
    color: #CFFF8D;
}


/* Range slider styling */

#myProgressBar{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 12px;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .1s;
    transition: opacity .1s;
    box-shadow: 0px 1px 7px 1px black;

  }
  
  .slider:hover {
    opacity: 1;
  }
  
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(238, 6, 199);
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 0 0 black;
    transition: 0.3s ease-in-out;
  }

  .slider::-webkit-slider-thumb:hover {
    width: 30px;
    height: 30px;
    box-shadow: 0 0 20px rgba(230, 10, 62, 0.1);
  }
  .slider:active::-webkit-slider-thumb {
    box-shadow: 0 0 40px rgba(227, 2, 2, 0.2);
  }
  
  .slider::-moz-range-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 0 0 black;
    transition: 0.3s ease-in-out;
  }

.songInfo{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    cursor: pointer;
    font-family: 'Varela Round', sans-serif;
    padding: 5px;
}

#gif{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
